REMOTE_SERVER_URL=ssl://tak-server:8089
REMOTE_SSL_USER_CERTIFICATE=cert.pem
REMOTE_SSL_USER_KEY=key.pem
UPDATE_INTERVAL=2
UUID=adsb-12345
COTDB=/share/cotdb_indexed.json
COUNTRIESDB=/share/countries.json
LOGUNK=true
GETMIL=true
LAT=60.0
LON=24.0
CALLSIGN=adsb.one
MYCOT=a-f-G-U